*
{
	font-family: Garamond;
	text-align: center;
}
body{
    background-color: #f2f2f2;
    line-height: 1.6;
}
nav a{
    margin: 10px;
    color: darkblue;
    text-decoration: none;
    font-weight: bold;
}
#content{
    border: 2px solid #ccc;
    padding: 20px;
	margin: 50px;
}
.float-left{
    float: left;
    margin: 10px;
}
.float-right{
    float: right;
    margin: 10px;
}
